/* no-prefix */
.hui-custom-accommodation-overlay .rdp-multiple_months {
  height: 450px;
  overflow-y: auto;
}

/* no-prefix */
.hui-custom-accommodation-overlay [data-radix-popper-content-wrapper] {
  bottom: 0;
  top: unset !important;
  transform: none !important;
}
